body {
    margin: 5;
    padding: 7;
    background-image: url('https://lh6.googleusercontent.com/-a_9Yxlct8nE/Ud_A6PcsveI/AAAAAAAAARk/hsE39Mh6Ayk/w1435-h897-no/fondo+de+pantalla+de+paraiso+de+agua+12.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen para que no se desplace con el contenido */
    font-family: Arial, sans-serif; /* Establece una fuente de texto */
    color: #333; /* Establece el color del texto */
}
